{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Instant publishing without registration. A simple and fast way to share notes.">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
        <title>{% block title %}QuickNote{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>

</html>